{% extends "base.html" %}

{% block content %}
  <h1>{{ dish.name }}</h1>

  <p><strong>Type:</strong> {{ dish.dish_type }}</p>
  <p><strong>Price:</strong> {{ dish.price }} UAH</p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  
  <h3>Ingredients:</h3>
  <ul>
    {% for ingredient in dish_ingredients %}
      <li>{{ ingredient.name }}</li>
    {% endfor %}
  </ul>

  <h3>Assigned Cooks:</h3>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }}</li>
    {% endfor %}
  </ul>

{% endblock %}